/* General */
:root {
    --background-color: rgb(235 235 235);
    --container-color: rgb(218 218 218);
    --text-color-secondary: rgb(96 96 96);
    --text-color-primary: #222725;

    --input-placeholder-color: #868686;

    --link-color: #6d6d76;
    --link-color-hover: #2637d7;
    --link-color-hover: #2637d7;

    --button-color: #329F5B;
    --button-disabled-background: #a5a5a5;
    --button-disabled-border: #22222;
    --button-disabled-text: #555555;
}

body {
    background: var(--background-color);
    font-family: sans-serif;
    color: var(--text-color-primary);
}

/* Vertical by default */
.container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

#main-container {
    border-radius: 5px;
    background: var(--container-color);
    padding: 0 20px;
    max-width: 500px;
    margin: auto;
}

/* Titles */
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
h1 {
    text-align: center;
}

/* Links */
a {
    text-decoration: underline;
    color: var(--link-color);
}
a:hover {
    text-decoration: none;
    color: var(--link-color-hover);
}

/* Buttons */
button {
    padding: 5px 0;
    border-radius: 5px;
    border: solid 3px var(--button-color);
    color: var(--button-color);
    background: var(--container-color);
    font-weight: bold;
}
button:hover {
    background: var(--button-color);
    color: white;
}

button:disabled, button[disabled] {
    background: var(--button-disabled-background) !important;
    border: none;
    color: var(--button-disabled-text);
}


/* Rules */
#rules #rules-div {
    overflow-y: hidden;
    transition: max-height 0.25s ease-out;
}
#rules #rules-div b {
    font-size: 0.95em;
}
#rules #rules-div #rules-ul {
    list-style-type: none;
    text-align: justify;
    margin: 7px 0 0 0;
    padding: 0 10px;
}
#rules #rules-div #rules-ul li {
    margin: 5px 0;
}
#rules #rules-hide-button {
    float: right;
    font-size: 0.85em;
    margin-top: 3px;
}
