
/* User data */
#user-data {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 3px;
}

#user-data > * {
    margin-bottom: 10px;
}

#user-data select {
    display: block;
}

#user-data input[type="text"] {
    display: block;
}
#user-data input, select {
    border-radius: 5px;
    border: solid 1px var(--input-placeholder-color);
    background: transparent;
    padding: 5px 10px;
}
#user-data input::placeholder {
    color: var(--input-placeholder-color);
}
#user-data input:focus, select:focus {
    border: solid 1px var(--text-color-primary);
    outline: 0;
}

#user-data #user-data-age-container label {
    font-size: 0.9em;
}

#user-data #user-data-buttons {
    text-align: center;
}

#user-data #user-data-buttons #tutorial-button {
    width: 45%;
    max-width: 120px;
    padding: 10px 2px;
    margin-top: 8px;
}

#user-data #user-data-concurso-text {
    text-align: justify;
    color: #505050;
}
#user-data #user-data-concurso-paypal {
    width: 100%;
    margin-top: 5px;
}