<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stocks Game</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/user_data.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/game.css') }}">

    <script src="{{ url_for('static', filename='./js/general.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/game.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/tutorial.js') }}"></script>
</head>
<body>
    <div class="container" id="main-container">
        <div class="container header">
            <h1>The stocks game</h1>
            <p>A simple game where you try to maximize the profit of your stock.</p>
            <hr>
        </div>

        <div class="container">
            <div id="rules">
                <p id="rules-p">
                    <b>Game rules</b> <br />
                    (i) You are given a stock with a value of 10 units and 7 days to sell it. <br>
                    (ii) Each day you are offered a price in the market, and you can choose to sell
                    or not sell your stock. <br>
                    (iii) On the 7th day you are forced to sell the stock no matter the price. <br>
                    <i> Remarks </i>  <br>
                    (i) The prices offered at the market follow are random (uniform) between 0 and 20. <br>
                    (ii) There is another agent playing at the same time, if you both sell the same day
                    you are penalized and only receive half of the price. <br>
                    (iii) Any day you will know if the other agent already sold his stock. Otherwise, bare in
                    mind to try not to choose the same day to sell. <br>
                    (iv) You must not make any assumptions on the strategy of your oponent (other than he is playing optimally, like you)
                </p>
                <a id="rules-hide-button">Hide</a>
            </div>
            <div id="user-data">
                <input id="user-data-name" placeholder="Name" type="text">
                <div id="user-data-age-container">
                    <label for="user-data-age" style="margin-right: 10px;">Age</label>
                    <input id="user-data-age" name="user-data-age" type="number" min="10" max="120">
                </div>
                <select id="user-data-study-level">
                    <option value="null" disabled selected>Highest current or past level of studies</option>
                    <option value="undergraduate">Undergraduate (high school)</option>
                    <option value="graduate">Graduate (university)</option>
                    <option value="master">Postgraduate (master)</option>
                    <option value="phd">Postgraduate (PhD)</option>
                </select>
                <div id="user-data-study-field-container">
                    <legend>
                        Select the fields you have studied (if any):
                    </legend>
                    <div id="user-data-study-field">
                        <div>
                            <input id="study-field-maths" name="study-field-maths" type="checkbox">
                            <label for="study-field-maths">Mathematics / Statistics</label>
                        </div>
                        <div>
                            <input id="study-field-economy" name="study-field-economy" type="checkbox">
                            <label for="study-field-economy">Economy</label>
                        </div>
                        <div>
                            <input id="study-field-social" name="study-field-social" type="checkbox">
                            <label for="study-field-social">Social studies</label>
                        </div>
                    </div>
                </div>
                <div id="user-data-buttons">
                    <button id="tutorial-button">Tutorial</button>
                    <button id="play-button">Play</button>
                </div>
            </div>

            <!-- Actual game -->
            <div id="game">
                <div id="game-state">
                    <span>Day <b id="game-state-day">4</b></span>
                    <span>Price <b id="game-state-price">12.52</b></span>
                    <span>Other selled: <b id="game-state-other-selled">yes</b></span>
                </div>
                <div id="game-explanation">
                    <p id="game-explanation-text">This is a sample explanation text</p>
                    <button id="quit-tutorial-button">Quit tutorial</button>
                </div>
                <div id="game-action">
                    <button id="game-sell-button">Sell</button>
                    <button id="game-dont-sell-button">Don't sell</button>
                </div>
                <div id="game-outcome">
                    <p>Your reward: <b id="game-outcome-reward">10</b></p>
                    <button id="game-replay-button">Play again</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer">
        <p>
            This website was created by <b>Martín Alejandre Chaya</b> for the
            Final Master's Thesis <b>Studying algorithmic trading from a Game Theory
            and Reinforcement Learning perspective</b><br>
            Tutored by <b>Alberto Antonioni</b> in the Carlos III University of Madrid.
        </p>
    </div>

</body>
</html>